/* Recipes Styles */
.recipesContainer {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 0px 12.5% 100px 12.5%;
    padding-top: 30px;
}