/* New Recipe Styles */
.newRecipeHeader {
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    font-family: 'Allura', cursive;
}

.notebookPage {
    background-image: url('/images/OpenNotepadCropped.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: 90% 75%;
    background-position: center 0px;
    /* background-blend-mode: color; */
    /* background-attachment: fixed; */
    position: relative;
    top: 25px;
    left: 5%;
    /* transform: translate(-80%, 10%); */
    /* width: 1050px; */
    padding-left: 165px;
    padding-top: 6%;
    padding-bottom: 20px;
    /* box-sizing: border-box; */
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, .5); */
    /* border-radius: 10px; */
}

.newRecipeFormContent {
    position: relative;
    font-size: 36px;
    font-family: 'Allura', cursive;
}

.newRecipeTitleField {
    text-align: left;
    font-size: 42px;
    padding-bottom: 15px;
    background-color: transparent;
}

.newRecipeTitleField label {
    padding-right: 15px;
}

.newRecipeTitleField input {
    background-color: transparent;
    border-radius: 3px;
    border-width: medium;
}

.newRecipeDifficultyAndTimeLine {
    padding-bottom: 15px;
}

.newRecipeDifficultyField {
    float: left;
}

.newRecipeDifficultyField label {
    margin-bottom: 1px;
}

.newRecipeDifficultyField select {
    background-color: transparent;
    border-radius: 3px;
    border-width: medium;
}

.newRecipeCookTimeField {
    padding-left: 300px;
}

.newRecipeCookTimeField label {
    margin-bottom: 1px;
}

.newRecipeCookTimeField input {
    background-color: transparent;
    border-radius: 3px;
    border-width: medium;
}

.newRecipeCategoryAndCuisineLine {
    padding-bottom: 14px;
}

.newRecipeCategoryField {
    float: left;
}

.newRecipeCategoryField label {
    margin-bottom: 1px;
}

.newRecipeCategoryField select {
    background-color: transparent;
    border-radius: 3px;
    border-width: medium;
}

.newRecipeCuisineField {
    padding-left: 300px;
}

.newRecipeCuisineField label {
    margin-bottom: 1px;
}

.newRecipeCuisineField select {
    background-color: transparent;
    border-radius: 3px;
    border-width: medium;
}

.newRecipeIngredientsField textarea {
    background-color: transparent;
    border-radius: 3px;
    border-width: medium;
}

.newRecipeInstructionsField {
    padding-top: 15px;
}

.newRecipeInstructionsField textarea {
    background-color: transparent;
    border-radius: 3px;
    border-width: medium;
}

.newRecipeVegetarianField {
    float: left;
    padding-top: 35px;
    padding-right: 70px;
}

.newRecipeVeganField {
    float: left;
    padding-top: 35px;
    padding-right: 70px;
}

.newRecipeGlutenFreeField {
    /* float: left; */
    /* padding-top: 35px; */
    padding-right: 100px;
}

.newRecipeButton {
    border-radius: 15px;
    /* position: absolute; */
    /* top: 105%; */
    /* left: 10px; */
}

.newRecipeIDField {
    padding-top: 50px;
    text-align: center;
}

.newRecipeAuthorIDField {
    text-align: center;
}